body {
    background-color: black;
}

h1, button {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 300%;
}

.text {
    width: 100%;
    line-height: 30px;
}

#fImage {
    width: 100%;
}

body:before {
    content: '';
    height: 120%;
    display: inline-block;
    vertical-align: middle;
}

.spacer {
    height: 170px;
}

.signupSpacer {
    height: 90px;
}

body {
    background-image: url("../img/Wallpaper.jpg");
    height: 100%;
    width: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    background:#222;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#C43B16;
    color:#000;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #000;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  